<?xml version="1.0"?>
<configuration>
  <appSettings>
    <add key="apiToken.SandBox" value="AgAAAA**AQAAAA**aAAAAA**fsxgUA**nY+sHZ2PrBmdj6wVnY+sEZ2PrA2dj6wFk4GhCZSDpASdj6x9nY+seQ**1vEBAA**AAMAAA**KNhMJX5zEXdXlLND7bGvSQ2CvDa4gwENCQm956PiyInOtkN3BtEs6TU+iyZ2+DpWYtVOyo2DPtBgXSXnTnoiNM+Gk0bJo9BJOwOBB/QPrjmluWTHg4QyR4D7QHTAMWQdbGpH6jYiT4haDZPEbblQqUiQ90syXoHZb8HNoSFemKS94x5veSAJ2keRxmdUMC1KUfrT82kXzh360S02OZ8I90M/zuaqhJX/FObO0WzN4/4MZ48fVxZn/7rSRo/3R5OkY3ZUm1AyLziJ4kE4OwE2HsxowgL5+E5wcJClBlWDRd2bGLkRQBjKoqvU7W3TtniCbw8Ma34j7lsl2dCMB6ApKtpymUPfljZ0dZslbWdtIBxlXX27lvzNppjO/7emAsjNPeVufvfELQ+zzR9BlwhL47SdZHK/9e3WyUQmY4NOGBQ/L+3axdgel1Bj1lGk10qHYiJhUy5SmZIqsemXkwi2IiuvBazwEzlotEjsi3rOD2VxD1LMIyZx0fwyFm/+8+hyJT5s32pilGDzcj8L5wOB5HYd9A0odvQmqKWdRnaH7Oeg5aEDGM74r2C29tu7A3PGKlHamDkib85mz+ROaSWcMZNDoUFebcCWs2w+IUYQqpcy71/hfY4YpTzB3gfC/30QwjKA1GniZBMJQMu6IIDrzVZiDxlJcSyh8fVpzPCT3ObLK/ikgDM7nb+LZI4K1p3HcLswT3kFTcXbJHFyx1juNroxzLs+Q2ZiaqcgA4lLglCqJhivhoNSfkiBNWcBSghR" />
    <add key="apiToken.Production" value="AgAAAA**AQAAAA**aAAAAA**vJvuUA**nY+sHZ2PrBmdj6wVnY+sEZ2PrA2dj6AEkYWjAJSKqQydj6x9nY+seQ**YZ0BAA**AAMAAA**af1MErn6sOzlUFE531wEHW5neobE92e1FiQkQovuhLHFF5HRzVFIp9CAxcz0ndRmRVvO/NW5qFKDwsVYyFmTz35pZscnd5ro/rEYidnPgX5MewOL5sHZVd0dqwls4djv2mCuhk+je/lC04gjKiWrFitCUxf8rJFU/1fW+8b1udERdn3GbijgS+tV0rm2PHMWQVYChb+5P2g8YBPlrfqQWCjPG01/N/PZuKUFblOoInjqDhzHoLu67/jB1md3i4Hoyyqkav9C42MlPohi/4nZH1tBNrCe9WE7WC+s3xE0su8EMR65ujmQUeqvFmIyq27n+a7V7WT3ktcJRcIIaz3lZPCDsSUq3itDMry8hzZ9gR00fXGiCtyZaZ/KhUbJVEaZRWnS1hHxH+cJMgSCI+FGPbWHZEWvwy7emlSmfPzppjPKeKQDTM8KdHzL3VK40ygX6uegHPAPa66OafUJd4vbKz3694tSE+7E2iOP0pwwjxjvhiov3A826huFijjrPg6CxDdC2sqNouAIbC72joBiODpRQzoGo5vdna3eVhi7RM6XkExdaz60vMeqzW24C0R0MnoFDBbaLZBew6w2Sn6GbFY0eklOc3XCjFRsowyerrSf9tyYzAnGdQoNlveNIGBGnxMnowNFxbUWqK+S+rR47WNtOXyujwG2mUUhBiZ8Ff4cQmMk95acy8ji8Q1UzaZO1mtefuBTNzfPztEZgFnvH9SgGCjEyGuxgOQmuxxZ8IZ/XF1i64k8W0QNRUKNVljg" />

    <add key="apiServerUrl.SandBox" value="https://api.sandbox.ebay.com/wsapi" />
    <add key="apiServerUrl.Production" value="https://api.ebay.com/wsapi" />
    
    <add key="donePath" value="c:\service-test\done" />
    <add key="enableLogging" value="true" />
    <add key="dueTime" value="1" />
  </appSettings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0" />
  </startup>
  <connectionStrings>
    <add name="OrderManagerEntities" connectionString="metadata=res://*/Model1.csdl|res://*/Model1.ssdl|res://*/Model1.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=ALEX_PC;initial catalog=OrderManager;integrated security=True;multipleactiveresultsets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="orderManager" connectionString="Data Source=localhost;Initial Catalog=OrderManager;Integrated Security=true;" />
    <add name="ebayMain"  connectionString="Data Source=localhost;database=Ebay;integrated security=true;" />
  </connectionStrings>
</configuration>
